. {
    margin:0;
    padding:0;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: #f4f6f8;
    color: #333;
}

.intro {
    text-align: center;
    padding: 90px 20px;
    background: linear-gradient(120deg, #ec4899, #be185d);
    color: white;
}
.intro p {
    text-align: center;
    font-size:15px;
     max-width: 700px;
     margin: 0 auto;
     padding: 0 16px;
     font-family: Arial, Helvetica, sans-serif;
}

.name {
    color: #38bdf8;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 25px;
    background: #38bdf8;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

.img1 {
    height:200px;
    width:150;
    border-radius:50%;
    object-fit:cover;
    

}

.makaut-img {
    height:170px;
    width:250px;
}
.cu-img{
    height:170px;
    width:250px;
}

.wb-img{
    height:170px;
    width:250px;
}


.section {
    padding: 60px 80px;

}
#about {
    /* min-height:100vh; */
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
     background: linear-gradient(120deg, #ffe4f0, #fbcfe8);
    color: #0f172a;
    /* text-align:center; */
}

#about p {
text-align:center;
font-size: 18px; 
line-height: 1.6;
max-width: 600px;
color: #1e293b;
font-family:Arial, Helvetica, sans-serif;
/* 'Segoe UI', sans-serif; */

}

.section h2 {
    margin-bottom: 20px;
    color: #0f172a;
}

#education{
    /* min-height:100vh; */
    /* display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center; */
     background: linear-gradient(120deg, #ffe4f0, #fbcfe8);
    color: #0f172a;
    /* text-align:center; */
}

.edu-card,
.project-card {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    /* background: linear-gradient(120deg, #f5fcff, #eaf7ff); */
    background-color: #e0f7ff;



}

#skills{
    /* min-height:100vh; */
    /* display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center; */
     background: linear-gradient(120deg, #ffe4f0, #fbcfe8);
    color: #0f172a;
    /* text-align:center; */
}
.skills-list {
    display: flex;
    flex-wrap: wrap;
}

.skills-list li {
    list-style: none;
    background: #e2e8f0;
    padding: 8px 15px;
    margin: 8px;
    border-radius: 20px;
}


#projects{
    /* min-height:100vh; */
    /* display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center; */
     background: linear-gradient(120deg, #ffe4f0, #fbcfe8);
     
    color: #0f172a;
    /* text-align:center; */
}

#contact{
    /* min-height:100vh; */
    display:flex;
    flex-direction:column;
    /* justify-content:center; */
    /* align-items:center;  */
     background: linear-gradient(120deg, #ffe4f0, #fbcfe8);
    color: #0f172a;
    
    /* text-align:center; */
}

.github-icon {
 font-size:40px;
 color: #000;
 
}
.linkedin-icon{
    font-size:40px;

}


footer {
  height:60px;
   
  background-color: #0f172a;      
  color: #ffffff;                
  text-align: center;             
  padding: 20px 10px;             
  font-family: 'Segoe UI', sans-serif;
  font-size: 14px;
  letter-spacing: 0.5px;          

}

footer p {
  margin: 0;                      
}

.scroll-animate {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.6s ease-out;
}


.scroll-animate.visible {
  opacity: 1;
  transform: translateY(0);
}

